//header
header {

    .row {
        justify-content: space-between;
        align-items: center;

        #logo {
            padding: 0 20px;

            h3 {
                font-size: 3rem;
            }

        }

        nav {
            padding: 0 20px;
            display: flex;
            gap: 20px;
            align-items: center;

            a {
                display: block;
                color: #fff;
                font-size: 1.6rem;
                font-weight: 400;
            }

            .btn {
                padding: 5px 10px;
            }
            .btn:hover {
                opacity: .6;
            }
        }
    }
}